#error_log {
	background:url("../public/gfx/watchdog-warning.png") no-repeat scroll 0 0 #F28B8B;
	padding-left:19px;
	overflow:auto;
	min-height:20px;
}

#success_log{
	background:url("../public/gfx/watchdog-ok.png") no-repeat scroll 0 0 #86C281;	
	padding-left:19px;
	overflow:auto;
	min-height:20px;
}
