#leftcol li, a {
    /*border-bottom: 1px solid #F4F4F4;*/
    color: #555555;
    font-size: 12px;
    list-style-type: none;
    margin: 1px 0;
    padding: 3px 3px 2px 0;
    text-decoration: none;
}