/* 
    Document   : order
    Created on : 2012-05-17, 13:42:58
    Author     : Marcin Filipiak
    Description:
        Purpose of the stylesheet follows.
*/

html body div#pagewidth div#wrapper.clearfix div#maincol form.prompt {
 border:dotted red 1px;   
 padding: 5px;
}

html body div#pagewidth div#wrapper.clearfix div#maincol form.prompt p.info{
 font-size: 10px;
 color:firebrick;
}

html body div#pagewidth div#wrapper.clearfix div#maincol form.prompt p.accept{
 font-size: 10px;
 color: darkolivegreen;
}

