tr.even.row_selected td{
    font-weight: bold;
}

tr.odd.row_selected td {
    font-weight: bold;
}

.offer{
    width: 100%;
}

.grid td {
	border-bottom: solid gray 1px;
}

.grid th {
	border-bottom: solid gray 1px;
}
